@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Roboto+Slab&display=swap');

*{
	box-sizing:border-box;
}

html{
background: linear-gradient(90deg, rgba(13,26,122,1) 0%, rgba(0,102,102,1) 100%);
}

body {
  font-family: Helvetica,Arial,sans-serif;
  margin:0;
  padding:0;
}

.page{
	
}

.banner{
	width:100%;
	min-height:25em;
	background-image:url("https://rootyjr.github.io/sleep-sounds/images/aurora_bg.jpg");
	display:flex;
}

.banner > h2{
	display:block;
	margin:auto;
	color:white;
	font-size:2.5em;
	font-family:'Roboto Slab';
	text-shadow: 2px 2px 0px rgba(75, 75, 75, 1);
}

.content{
}

.sounds{
	padding:1em;
	width:100%;
	max-width:600px;
	margin:auto;
	background-color:#efefef;
}

.sounds > ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

.sounds > ul > li {
	padding:.5em;
}

.sounds > ul > li > img {
	width:2em;
	height:2em;
	border-radius:10px;
	vertical-align: middle;
}

.sounds > ul > li > span {
	font-family: 'Josefin Sans', sans-serif;
	font-size:1.5em;
	color: 
}

.sounds > ul > li > audio{
	float:right;
}

@media screen and (max-width: 600px) {
	.sounds > ul > li > *{
		display:block;
	}
	
	.sounds > ul > li > audio{
		float:none;
	}
	
	.sounds{
		padding:1em;
		width:100%;
		margin:auto;
		background-color:#efefef;
	}
}
