/*
 * css styles go here
 */
*{
	box-sizing:border-box;
}

body {
  font-family: Helvetica,Arial,sans-serif;
  margin:0;
  padding:0;
}

.page{
	
}

.banner{
	width:100%;
	min-height:25em;
	background-image:url("images/aurora_bg.jpg");
}



