/*
 * css styles go here
 */
*{
	box-sizing:border-box;
}

body {
  font-family: Helvetica,Arial,sans-serif;
  margin:0;
  padding:0;
  background: linear-gradient(135deg, rgba(13,26,122,1) 0%, rgba(0,102,102,1) 100%);
}

.page{
	
}

.banner{
	width:100%;
	min-height:25em;
	background-image:url("https://rootyjr.github.io/sleep-sounds/images/aurora_bg.jpg");
}

.content{
	padding:1em;
}

.sounds{
	width:60%;
	min-width:15em;
	margin:auto;
	background-color:#efefef;
}

.sounds > ul{
	margin:0;
	list-style-type:none;
}

.sounds > ul > li {
	border-top:1px solid #ccc;
}

.sounds > ul > li > span {
	font-size:3em;
}

